<%= form_with(model: @response, local: true) do |form| %>
  

  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">X</th>
      <th scope="col">Y</th>
      <th scope="col">Response</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= form.label :r11 %></th>
      <td>75%</td>
      <td>75%</td>
      <td><%= form.text_field :r11, id: :response_r11, size: "6x12"%></td>
    </tr>
     <tr>
      <th scope="row"><%= form.label :r12 %></th>
      <td>50%</td>
      <td>50%</td>
      <td><%= form.text_field :r12, id: :response_r12, size: "6x12" %></td>
    </tr>
     <tr>
      <th scope="row"><%= form.label :r13 %></th>
      <td>25%</td>
      <td>25%</td>
      <td><%= form.text_field :r13, id: :response_r13, size: "6x12" %></td>
    </tr>
     <tr>
      <th scope="row"><%= form.label :r21 %></th>
      <td>10%</td>
      <td>90%</td>
      <td><%= form.text_field :r21, id: :response_r21, size: "6x12" %></td>
    </tr>
     <tr>
      <th scope="row"><%= form.label :r22 %></th>
      <td>20%</td>
      <td>80%</td>
      <td><%= form.text_field :r22, id: :response_r22, size: "6x12" %></td>
    </tr>
     <tr>
      <th scope="row"><%= form.label :r23 %></th>
      <td>30%</td>
      <td>70%</td>
      <td><%= form.text_field :r23, id: :response_r23, size: "6x12" %></td>
    </tr>
     <tr>
      <th scope="row"><%= form.label :r24 %></th>
      <td>40%</td>
      <td>60%</td>
      <td><%= form.text_field :r24, id: :response_r24, size: "6x12" %></td>
    </tr>
     <tr>
      <th scope="row"><%= form.label :r25 %></th>
      <td>90%</td>
      <td>10%</td>
      <td><%= form.text_field :r25, id: :response_r25, size: "6x12" %></td>
    </tr>
     <tr>
      <th scope="row"><%= form.label :r26 %></th>
      <td>80%</td>
      <td>20%</td>
      <td><%= form.text_field :r26, id: :response_r26, size: "6x12" %></td>
    </tr>
     <tr>
      <th scope="row"><%= form.label :r27 %></th>
      <td>70%</td>
      <td>30%</td>
      <td><%= form.text_field :r27, id: :response_r27, size: "6x12" %></td>
    </tr>
     <tr>
      <th scope="row"><%= form.label :r28 %></th>
      <td>60%</td>
      <td>40%</td>
      <td><%= form.text_field :r28, id: :response_r28, size: "6x12" %></td>
    </tr>
     <tr>
      <th scope="row"><%= form.label :r31 %></th>
      <td>0%</td>
      <td>100%</td>
      <td><%= form.text_field :r31, id: :response_r31, size: "6x12" %></td>
    </tr>
     <tr>
      <th scope="row"><%= form.label :r32 %></th>
      <td>100%</td>
      <td>0%</td>
      <td><%= form.text_field :r32, id: :response_r32, size: "6x12" %></td>
    </tr>
    <tr>
      <th scope="row"><%= form.label :r41 %></th>
      <td>10%</td>
      <td>9%</td>
      <td><%= form.text_field :r41, id: :response_r41, size: "6x12" %></td>
    </tr>
     <tr>
      <th scope="row"><%= form.label :r42 %></th>
      <td>90%</td>
      <td>91%</td>
      <td><%= form.text_field :r42, id: :response_r42, size: "6x12" %></td>
    </tr>
     <tr>
      <th scope="row"><%= form.label :r51 %></th>
      <td>70%</td>
      <td>40%</td>
      <td><%= form.text_field :r51, id: :response_r51, size: "6x12" %></td>
    </tr>
     <tr>
      <th scope="row"><%= form.label :r52 %></th>
      <td>80%</td>
      <td>50%</td>
      <td><%= form.text_field :r52, id: :response_r52, size: "6x12" %></td>
    </tr>
     <tr>
      <th scope="row"><%= form.label :r53 %></th>
      <td>90%</td>
      <td>60%</td>
      <td><%= form.text_field :r53, id: :response_r53, size: "6x12" %></td>
    </tr>
     <tr>
      <th scope="row"><%= form.label :r54 %></th>
      <td>100%</td>
      <td>70%</td>
      <td><%= form.text_field :r54, id: :response_r54, size: "6x12" %></td>
    </tr>

    
  </tbody>
</table>
<style>

th{
  text-align: center;
}
.table {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}

  </style>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-success" %>
  </div>
<% end %>
